.cantainer {
  width: 1226px;
  margin: 0 auto;
}

header {
  height: 140px;
}

.head_u {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.h_left {
  display: flex;
  align-items: center;
}

.h_left > a {
  display: flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
}

.h_left .space {
  width: 150px;
  height: 100px;
}

.h_left > ul {
  display: flex;
}

.h_left > ul li {
  font-size: 16px;
}

.h_left > ul li a {
  display: flex;
  padding: 26px 10px 38px;
}

.h_left > ul li a:hover {
  color: #ff6700;
}
.header_t{
  background: #333;
}
.head_t {
  height: 40px;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_t > div > a {
  color: #b0b0b0;
}

.head_t ul {
  display: flex;
}

.head_t ul span {
  color: #424242;
  margin: 0 0.3em;
}

.head_t ul li a {
  color: #b0b0b0;
  display: flex;
  font-size: 12px;
}

.head_t ul li a:hover {
  color: #ffffff;
}

.h_right form input:nth-child(1) {
  text-indent: 10px;
}

.taggle {
  display: flex;
}

.taggle span {
  line-height: 40px;
  margin: 0 0.3em;
  color: #424242;
}

.taggle a {
  line-height: 40px;
}

.taggle a:hover {
  color: #ffffff;
}

.taggle a:nth-child(7) {
  display: block;
  width: 120px;
  height: 40px;
  background: #424242;
  line-height: 40px;
  text-align: center;
}

.taggle a:nth-child(7):hover {
  background: #fff;
  color: #ff6700;
}

.footer ul {
  display: flex;
  justify-content: space-between;
}

.footer ul li {
  width: 25%;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
}

.footer .ulbox {
  padding: 27px 0;
}

.footer .dlbox {
  display: flex;
  /* justify-content: space-between; */
}

.footer .dlbox > div dl {
  width: 162px;
}

.footer .dlbox > div dl dt {
  margin: -1px 0 26px;
  font-size: 14px;
  color: #424242;
}

.footer .dlbox > div dl dd {
  margin-top: 10px;
  font-size: 12px;
}

.info {
  padding: 30px 0;
}

.info div:nth-child(2) {
  font-size: 16px;
  color: #b0b0b0;
}

.ilayout {
  position: relative;
  padding-left: 67px;
  /* box-sizing: border-box; */
}

.sign {
  position: absolute;
  top: 0;
  left: 0;
}

.ir {
  margin-top: 30px;
  text-align: center;
}

.yaxis {
  position: relative;
}

.yaxis::after {
  content: "";
  position: absolute;
  display: block;
  height: 18px;
  width: 2px;
  background: #e0e0e0;
  right: 0;
  top: 2px;
}

.ulbox {
  border-bottom: 1px solid #cccccc;
}

.dlbox {
  margin-top: 40px;
  margin-bottom: 10px;
}

.cantact {
  position: relative;
}

.cantact::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  background: #e0e0e0;
  top: 0;
  left: 0;
}

.cantact {
  width: 100%;
  text-align: center;
}

.cantact > a {
  display: inline-block;
  width: 118px;
  height: 28px;
  border: 1px solid #ff6700;
  color: #ff6700;
  text-align: center;
  line-height: 28px;
}

.cantact > a:hover {
  background: #ff6700;
  color: #ffffff;
}

.cantact > p:nth-child(1) {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}

.cantact > p:nth-child(2) {
  margin: 5px 0 5px 0;
  font-size: 12px;
  color: #616161;
}

.cantact > div:nth-child(4) {
  font-size: 12px;
  margin-top: 10px;
  color: #616161;
}

.cantact > div:nth-child(4) i {
  font-size: 16px;
}

.cantact > div:nth-child(4) i:hover {
  color: #ff6700;
}

.ilayout p:nth-child(2) a:hover,
.ilayout p:nth-child(3) a:hover {
  color: #ff6700;
}

.ilayout p:nth-child(4) {
  line-height: 18px;
  color: #b0b0b0;
}

.Info {
  background: #fafafa;
  min-width: 1226px;
}

.dlbox div dl dd {
  font-size: 12px;
  color: #757575;
}

.footer ul {
  display: flex;
  justify-content: space-between;
}

.footer ul li {
  width: 25%;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
}

.footer ul li:hover {
  color: #ff6700;
}

.footer ul li i {
  font-size: 18px;
}

.footer .ulbox {
  padding: 27px 0;
}

.footer .dlbox {
  display: flex;
  /* justify-content: space-between; */
}

.footer .dlbox > div dl {
  width: 162px;
}

.footer .dlbox > div dl dt {
  margin: -1px 0 26px;
  font-size: 14px;
  color: #424242;
}

.footer .dlbox > div dl dd {
  margin-top: 10px;
  font-size: 12px;
}

.footer .dlbox > div dl dd:hover {
  color: #ff6700;
}

.info {
  padding: 30px 0;
}

.ilayout {
  position: relative;
  padding-left: 67px;
  /* box-sizing: border-box; */
}
