/* 布局开始 */
/* ===========头部================== */
header{
    height: 140px;
}
.header_t{
    height: 40px;
    background: #333;
   

}
.head_t{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.head_t>ul{
    display: flex;
}
.head_t>ul>li>a{
    color: #b0b0b0;
    display: flex;
    font-size: 12px;
   
}
.head_t>ul>span{
    margin: 0 .3em;
}
.head_t>div>a{
    color: #b0b0b0;
}
.head_u{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.h_left{
    display: flex;
    align-items: center;
}
.h_left>a{
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
}
.h_left .space{
    width: 150px;
    height: 100px;
}
.h_left ul>li>a:hover{
    color: #ff6700;
}
.h_left>ul{
    display: flex;
}
.h_left>ul li{
    font-size: 16px;
}
.h_left>ul li a{
    display: flex;
    padding: 26px 10px 38px;
}
/* .h_right form input:nth-child(2){
    width: 50px;
    height: 50px;

} */
/* ===========中心内容=============== */
.iscoll{
    height: 460px;
    position: relative;
  
}
.ul_li{
    position: absolute;
    left: 235px;
    top: 0;
    width: 100%;
    height: 460px;
    background: skyblue;
    z-index: 555;
}
.iscoll .asider{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    height: 420px;
    background: rgba(105,101,101,.4);
    width: 235px;
    padding: 20px 0;
    z-index: 9999;
}
.iscoll .asider li{
    height: 42px;
}
.iscoll .asider li a{
    display: flex;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
   color: #ffffff;
   position: relative;
}
.iscoll .asider li a>i{
    font-size: 12px;
    position: absolute;
    right: 15px;
    
}
.iscoll .asider li a:hover{
    background: #ff6700;
}
.list_t{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.list_t .glayout{
    display: grid;
    width: 235px;
    height: 170px;
    grid-template: 
    "a1 a2 a3" 1fr
    "a4 a5 a6" 1fr
    /1fr 1fr 1fr;
    background: #5f5750;
    place-items: center center;
   
    
}
.list_t .glayout li{
    width: 100%;
    height: 100%;
    border: 1px solid #a3a2a2;
    /* margin-left: -1px;
    margin-top: -1px; */
}
.list_t .glayout li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255,255,255,0.3);
}
.list_t .glayout li a:hover{
    color: rgba(255,255,255,0.8);
}
.list_t>a{
    display: flex;
    height: 170px;
}
.list_t>a img{
    width: 316px;
    height: 170px;
}
.step_one{
    height: 686px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-bottom: 22px;
}
.step_one .step_title{
    display: flex;
    height: 58px;
    font-size: 22px;
   line-height: 58px;
}
.step_content{
    display: flex;
}
.step_content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
   
    

}
.step_content>img{
    height: 614px;
}

.step_content ul li{
    background: #ffffff;
    width: 23%;
    padding: 20px 14px;
    box-sizing:border-box;
    text-align: center;
    transition: all .2s linear;
    height: 300px;
    
}
.step_content ul li p:last-child{
    color: red;
    margin-top: 5px;
}
.step_content ul li:hover{
    transform: translate3d(0,-2px,0);
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.step_content ul li a{
    display: block;
}
.step_content ul li a>img{
    width: 100%;
}
.step_content ul li a p:nth-child(3){
    /* width: 100%; */
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* .step_content ul li{
    width: 25%;
} */
.tips{
    margin: 22px auto;
}
.tips img{
    width: 1226px;
}
.ul_li>li:hover{
     color: #ff6700;
}
.ul_li>li>img{
    width: 40px;
    height: 40px;
}
.ul_li>li>span{
    margin-left: 10px;
    
}
.Shop{
    background:#f5f5f5;
}
/* ============尾部==================*/
.footer ul{
        display: flex;
        justify-content: space-between;
       
        
}
.footer ul li{
    width: 25%;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
   
}
.footer ul li i{
    font-size: 18px;
}
.footer ul li:hover{
    color:#ff6700;
}
.footer .ulbox{
    padding: 27px 0;
}
.footer .dlbox{
    display: flex;
    /* justify-content: space-between; */
   
}
.footer .dlbox>div dl{
    width: 162px;
}
.footer .dlbox>div dl dt{
    margin: -1px 0 26px;
    font-size: 14px;
    color: #424242;
}
.footer .dlbox>div dl dd{
    margin-top: 10px;
    font-size: 12px;
}
.footer .dlbox>div dl dd:hover{
    color:#ff6700 ;
}
.info{
    padding: 30px 0;
}
.ilayout{
    position: relative;
    padding-left: 67px;
    /* box-sizing: border-box; */
}
.sign{
    position: absolute;
    top: 0;
    left: 0;
}
.ir{
    margin-top: 30px;
    text-align: center;
}
/* 轮播图参数修改 */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 250px;
    right: auto;
}
.swiper-pagination{
    text-align: right;
}
/* .swiper-scrollbar-drag{
    display: none;
} */
.swiper-scrollbar{
    display: none;
}
.pic_five{
   height: 460px;
}
/* ---------左边快捷按钮 --------- */
.asider_left_box{
    z-index: 999;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    min-height: 300px;
    max-height: 600px;
    /* border: 1px solid red; */
}
.asider_left_box a{
    display: flex;
    flex-direction: column;
    width: 82px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e6e6;
}
.asider_left_box a:hover{
    color: #ff6700;;
}
.asider_left_box a.gotop{
    display: none;
}