/* 布局开始 */
/* ===========中心内容=============== */
.Shop {
  padding-top: 20px;
}
.montent {
  height: 200px;
  background: #f5f5f5;
  /* padding: 20px; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.montent_l {
  background: #f1eded;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 235px;
  height: 100%;
  /* border: 1px solid red; */
}
.montent_l > div {
  text-align: center;
}
.montent_l > div:nth-child(2) span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #605751;
  color: #ffffff;
  margin: 0 5px;
}
.montent_r {
  width: 80%;
  height: 100%;
  /* border: 1px solid white; */
}
.iscoll {
  height: 460px;
  position: relative;
}
.ul_li {
  position: absolute;
  left: 235px;
  top: 0;
  width: 100%;
  height: 460px;
  background: skyblue;
  z-index: 555;
}
.iscoll .asider {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 420px;
  background: rgba(105, 101, 101, 0.4);
  width: 235px;
  padding: 20px 0;
  z-index: 9999;
}
.iscoll .asider li {
  height: 42px;
}
.iscoll .asider li a {
  display: flex;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  color: #ffffff;
  position: relative;
}
.iscoll .asider li a > i {
  font-size: 12px;
  position: absolute;
  right: 15px;
}
.iscoll .asider li a:hover {
  background: #ff6700;
}
.list_t {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.list_t .glayout {
  display: grid;
  width: 235px;
  height: 170px;
  grid-template:
    "a1 a2 a3" 1fr
    "a4 a5 a6" 1fr
    /1fr 1fr 1fr;
  background: #5f5750;
  place-items: center center;
}
.list_t .glayout li {
  width: 100%;
  height: 100%;
  border: 1px solid #a3a2a2;
  /* margin-left: -1px;
    margin-top: -1px; */
}
.list_t .glayout li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
}
.list_t .glayout li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.list_t > a {
  display: flex;
  height: 170px;
}
.list_t > a img {
  width: 316px;
  height: 170px;
}
.step_one {
  height: 686px;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-bottom: 22px;
}
.step_one .step_title {
  display: flex;
  height: 58px;
  font-size: 22px;
  line-height: 58px;
}
.step_content {
  display: flex;
}
.step_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}
.step_content > img {
  height: 614px;
}

.step_content ul li {
  background: #ffffff;
  width: 23%;
  padding: 20px 14px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s linear;
  height: 300px;
}
.step_content ul li p:last-child {
  color: red;
  margin-top: 5px;
}
.step_content ul li:hover {
  transform: translate3d(0, -2px, 0);
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.step_content ul li a {
  display: block;
}
.step_content ul li a > img {
  width: 100%;
}
.step_content ul li a h3:nth-child(2){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.step_content ul li a p:nth-child(3) {
  /* width: 100%; */
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* .step_content ul li{
    width: 25%;
} */
.tips {
  margin: 22px auto;
}
.tips img {
  width: 1226px;
}
.ul_li > li:hover {
  color: #ff6700;
}
.ul_li > li > img {
  width: 40px;
  height: 40px;
}
.ul_li > li > span {
  margin-left: 10px;
}
.Shop {
  background: #f5f5f5;
  min-width: 1226px;
}
/* ============尾部==================*/

.sign {
  position: absolute;
  top: 0;
  left: 0;
}
.ir {
  margin-top: 30px;
  text-align: center;
}
/* 轮播图参数修改 */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 250px;
  right: auto;
}
.swiper-pagination {
  text-align: right;
}
/* .swiper-scrollbar-drag{
    display: none;
} */
.swiper-scrollbar {
  display: none;
}
.pic_five {
  height: 460px;
}
/* ---------左边快捷按钮 --------- */
.asider_left_box {
  z-index: 999;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  min-height: 300px;
  max-height: 600px;
  /* border: 1px solid red; */
}
.asider_left_box a {
  display: flex;
  flex-direction: column;
  width: 82px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9e6e6;
}
.asider_left_box a:hover {
  color: #ff6700;
}
.asider_left_box a.gotop {
  display: none;
}
.montent_r .swiper-wrapper .swiper-slide div {
  height: 100%;
}
.montent_r .swiper-wrapper .swiper-slide figure {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.montent_r .swiper-wrapper .swiper-slide figure figcaption p:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.montent_r .swiper-wrapper .swiper-slide div figure img {
  width: 80px;
  height: 100px;
}
.montent_r {
  margin-left: 0;
  margin-right: 0;
}
