/* ======详情页头部======= */
header{
    height: 140px;
}
.header_t{
    height: 40px;
    background: #333;

}
.head_t{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.head_t>ul{
    display: flex;
}
.head_t>ul>li>a{
    color: #b0b0b0;
    display: flex;
    font-size: 12px;
   
}
.head_t>ul>span{
    margin: 0 .3em;
}
.head_t>div>a{
    color: #b0b0b0;
}
.head_u{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.h_left{
    display: flex;
    align-items: center;
}
.h_left>a{
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
}
.h_left .space{
    width: 150px;
    height: 100px;
}
.h_left ul>li>a:hover{
    color: #ff6700;
}
.h_left>ul{
    display: flex;
}
.h_left>ul li{
    font-size: 16px;
}
.h_left>ul li a{
    display: flex;
    padding: 26px 10px 38px;
}
/* ======详情页主内容======= */
/* ======详情bar======*/
.barcontent{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.bar_right{
    display: flex;
}
.bar_left{
    display: flex;
}
.pageinfoxentent{
    display: flex;
    justify-content: space-between;
}
.swibox{
    height: 560px;
    width: 560px;
}
.swibox .swiper-slide img{
    height: 560px;
    width: 560px;

}
.info_right{
    width: 600px;
}
.info_right .signr{
    font-size: 24px;
    font-weight: 400;
    color: #212121;;
}
.constructor{
    padding-top: 8px;
    color: #b0b0b0;
    font-size: 14px;
    line-height: 1.5;
}
.constructor span{
    color: rgb(255, 74, 0);
}
.info_right p:nth-child(3){
    margin-top: 14px;
    color: #ff6700;
}
.info_right>div:nth-child(4){
    padding: 12px 0 10px;
    color: #ff6700;
    font-size: 18px;

}
.line{
    margin-top: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.address{
    padding: 30px 50px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    margin: 20px 0;
}
.address>a{
    color: #ff6700;
}
.address span:nth-child(7){
    color: #ff6700;
}
.option_box{
    margin-bottom: 30px;
}
.option_box h3{
    font-size: 18px;
}
.option_box div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.option_box div a{
    margin-top: 10px;
    width: 45%;
    border: 1px solid #e0e0e0;
    color: #757575;
    font-size: 14px;
    height: 42px;
    width: 292px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.option_box div a:hover{
    color: #ff6700;
    border: 1px solid #ff6700;
}
.f_one{
    min-height: 179px;
    margin-bottom: 30px;
}
.f_one div:nth-child(1){
    display: flex;
    justify-content: space-between;
  
}
.f_one div:nth-child(1) a{
    color: #ff6700;
    font-size: 14px;
}
.f_one>div.box{
    display: flex;
    height: 87px;
    border: 1px solid #cccccc;
    padding: 30px 0;
}
.f_one>div.box>img{
    width: 50px;
    height: 50px;
}
.f_one>div.box>div{
    height: 86px;
}
.f_one>div.box>i:nth-child(1){
    width: 36px;
    height: 36px;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    line-height: 36px;

}
.f_one>div.box img:nth-child(2){
    margin-left: 10px;
    margin-right: 15px;
}
.f_one>div.box div:nth-child(3){
    width: 100%;
}
.f_one>div.box div:nth-child(3) h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.f_one>div.box div:nth-child(3) h3 i{
    font-size: 14px;
    border-radius: 20px;
    padding: 2px 6px;
    background: #ff6700;
    margin-left: 2px;
}
.f_one>div.box div:nth-child(3) p{
    font-size: 14px;
    height: 18px;
    color: #b0b0b0;
    white-space: nowrap;
    margin-top: 5px;
    overflow: hidden;
}
.f_one>div.box div:nth-child(3)>div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.f_one>div.box div:nth-child(3)>div span:nth-child(2){
    margin-right: 15px;
}
.price_msg{
    background: #f9f9fa;
    padding: 30px;
    margin-bottom: 30px;
}
.price_msg>div{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.price_msg>strong{
    margin-top: 30px;
    display: flex;
    font-size: 24px;
    color: #ff6700;
}
.gcart>div:nth-child(1){
    height: 54px;
    margin: 10px 0 20px 0;

}
.gcart>div:nth-child(1) button:nth-child(1){
    width: 298px;
    height: 52px; 
    font-size: 16px;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
    outline: none;
    border: none;
}
.gcart>div:nth-child(1) button:nth-child(2){
    width: 140px;
    height: 52px;
    border: 1px solid #b0b0b0;
    background: #b0b0b0;
    color: #ffffff;
}
/* ======详情页面接口====== */
/* ======详情页尾部======= */
.footer ul{
    display: flex;
    justify-content: space-between;
    
}
.footer ul li{
width: 25%;
text-align: center;
font-size: 16px;
background-color: rgba(0,0,0,0)
}
.footer .ulbox{
padding: 27px 0;
}
.footer .dlbox{
display: flex;
justify-content: space-between;
}
.footer .dlbox>div dl dt{
margin: -1px 0 26px;
font-size: 14px;
color: #424242;
}
.footer .dlbox>div dl dd{
margin-top: 10px;
font-size: 12px;
}
.info{
padding: 30px 0;
}
.ilayout{
position: relative;
padding-left: 67px;
/* box-sizing: border-box; */
}
.sign{
position: absolute;
top: 0;
left: 0;
}
.ir{
margin-top: 30px;
text-align: center;
}
/* 轮播图参数修改 */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
right: auto;
}
/* .swiper-scrollbar-drag{
display: none;
} */
.swiper-scrollbar{
display: none;
}
.pic_five{
height: 460px;
}